@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
	font-family: 'Conv_helveticaneuecyr-light';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), url('../fonts/helveticaneuecyr-light.woff') format('woff'), url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
}
body {
	line-height: 1;
	overflow-x: hidden;
	font-family:"Roboto";
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: "Roboto";
}
.main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1050px;
	margin: 0 auto;
}
/* 
@media (max-width:1050px) {
	[class*="__container"]{
	max-width: 970px;
	}
}
@media (max-width:950px) {
	[class*="__container"]{
	max-width: 970px;
	padding: 0 30px;
	}
}
@media (max-width: 991.98px) {
	[class*="__container"]{
		max-width: 750px;
	}
}
@media (max-width: 767.98px){
	[class*="__container"]{
		max-width: none;
	}
}
 */
.block {
	margin: 0px 0px 30px 0px;
}
.block__container {
}
.block__items {
}
.block__item {
	min-width: 150px;
	flex: 1 1 33.333%;
	border: 1px solid #000;
	background-color: #77608d;
}
/* 
@media (max-width: 767.98px) and (min-width: 479.98px) {
.block__item{
background-color: #7A956B;
padding: 15px;
}
}
@media (min-width:552px) {
	.block__items{
		display: flex; 
	}
} 
 */


/* first block */
.header {
	padding: 26px 0px 10px 0px;
	background-color: #77608d;
}
.header__conteiner {
	flex-direction: column;
	display: flex;
}
.header__logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px 0px 28px 0px;
}
.logo-header {
}
.logo__name {
	padding:10px 50.39px;
	margin: 0px 236px 0px 0px;
	align-self: center;
	background: url(../img/logoipsum/Vector.svg) 0 0 no-repeat;
}
.logo__info {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}
.logo__info:not(:last-child){
	margin-right: 30px;
}
.info-logo {
}
.info__text{
	font-weight: bold;
	font-size: 12px;
	line-height: 183%;
	display: flex;
	align-items: center;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	padding-left: 31px;
}
.info__text_time{
	background: url(../img/logoipsum/accesstime.svg)0 0 no-repeat;
}
.info__text_mob{
	background: url(../img/logoipsum/phone.svg)0 0 no-repeat;
}
.button {
	background-color: #F2726F;
	align-self: center;
	padding:9px 34px;
	border-radius: 8px;
}
.button__link {
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	display: inline-flex;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
}
/*           */
.header__menu {
}
.menu {
	justify-content: center;
	display: flex;
}
.menu__body {
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 13px 40px;
}
.menu__list {
	display: flex;
	flex-direction: row;
	margin: 0px -17px;
}
.menu__list_margin-right{
	margin-right: 200px;
}
.menu__item {
	padding: 0px 17px;
}
.menu__link {
	padding: 0px 18px;
	font-weight: bold;
	font-size: 14px;
	line-height: 157%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	color: #000000;
}
.menu__link_vector{
	background: url(../img/logoipsum/expandmore.svg) right 3px no-repeat;
}
.menu__icons{
	display: flex;
	flex-direction: row;
}
.menu__icons :not(:last-child){
	margin-right: 22px;
}
.menu__search {
	background: url(../img/logoipsum/search.svg) 0 0 no-repeat;
	width: 24px;
	height: 24px;
}
.menu__cart {
	background: url(../img/logoipsum/shoppingcart.svg) 0 0 no-repeat;
	width: 24px;
	height: 24px;
}


/*  second block  */
.who-we-are {
	display: flex;
	flex-direction: column;
	position: relative;
}
.who-we-are__container {
	position: relative;
}
.who-we-are__case{
	background-color: #5D62B5;
	border-radius: 40px;
	padding: 100px 87px 0px 87px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}
.who-we-are__case::after{
	content: "";
	background: url(../img/who_we_are/Blob.svg) 0 0/100% no-repeat;
	position: absolute;
	width: 68%;
	height: 100%;
	top: 100px;
	left: 0;
	flex: 0 1 52.240%;
	transform: translate( -5px, 23.4%);
	z-index: 1;
}
.who-we-are__titles {
	max-width: 583px;
	margin: 0px 0px 36px 0px;
	position: relative;
	z-index: 2;
}
.who-we-are__titles :not(:last-child){
	margin: 0px 0px 33px 0px;
}
.titles {
}
.titles__lable {
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	display: flex;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
}
.titles__lable::before{
	content: "";
	background: url(../img/who_we_are/OverlineMark.svg) 0 center no-repeat;
	width: 17px;
	height: 16px;
	margin: 0px 16px 0px 0px;
}
.titles__title {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #FFFFFF;
	position: relative;
	z-index: 3;
}
.who-we-are__item {
}
.who-we-are__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	position: relative;
	z-index: 2;
	margin: 0px 0px 354px 0px;
}
.who-we-are__image{
	position: absolute;
	bottom: 0;
	right: 0;
	align-self: center;
	display: inline-flex;
	flex: 0 1 58.760%;
	z-index: 3;
	align-self: center;
	margin: 0px 10.28% -15.01% 0px;
}
.who-we-are__image img{
	border-radius: 40px;
	width: 100%;
	height: 100%;
	object-position:center;
}


/*   third block    */

.nemo {
	background: #29C3BE;
	position: relative;
	z-index: 3;
}
.nemo::before{
	content: "";
	background: url(../img/nemo/Blob.svg) 0 0/100% no-repeat;
	width: 32.859%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
}
.nemo::after{
	content: "";
	background:url(../img/nemo/StylizeCircles.svg) 0 40%/100% no-repeat;
	width: 16.388%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}
.nemo__container {
	display: flex;
	flex: 0 1 100%;
	margin: 160px 0px 0px 0px;
	max-width: 100%;
	padding: 44px 0px 0px 0px;
	position: relative;
	z-index: 3;
}
.nemo__button {
	background-color: #F2726F;
	align-self: center;
	padding:9px 30px;
	border-radius: 8px;
	max-width: 210px;
	z-index: 3;
	position: relative;
}
.nemo__link {
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	display: inline-flex;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.nemo__image {
	margin: 0px 72px 0px 0px;
	flex: 0 1 51.666%;
	z-index: 3;
}
.nemo__image img{
	width: 100%;
	height: 100%;
}
.nemo__content{
	max-width: 411px;
	vertical-align: middle;
	padding: 68px 0px 133px 0px;
	position: relative;
	z-index: 3;
}
.nemo__content :not(:last-child){
	margin: 0px 0px 52.32px 0px;
}
.nemo__container::after{
	content: "";
	background: url(../img/nemo/Line.svg) 0 0 no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	transform: translate(2%, 0);
}

.titles__title_ball::after{
	content: "";
	background: url(../img/nemo/tennisball.png) right 0 no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	flex: 0 1 6.944%;
	top: 0;
	right: 0;
	transform: translate(40%, 0);
	z-index: 2;
}

@media (max-width: 1050.98px){
	[class*="__container"]{
		padding:0px 20px;
	}
	.header__logo{
		display: block;
	}
	.who-we-are__case{
		padding: 50px 60px;
	}
	.header__logo :not(:last-child){
		margin: 0px 0px 10px 0px;
	}
	.menu__list {
		margin: 0px -10px;
	}
	.header__menu{
		display: block;
	}
	.menu__item {
		padding: 0px 10px;
	}
	.menu__list_margin-right{
		margin-right: 170px;
	}
	.info__text{
		font-size: 16px;
	}
	.menu__link{
		font-size: 16px;
	}
	.who-we-are__text {
		margin: 0px 0px 270px 0px;
	}
	.who-we-are  {
		flex: 0 1 100%;
		padding: 0px 20px;
	}
	.who-we-are__titles :not(:last-child){
		margin: 0px 0px 25px 0px;
	}
	.who-we-are__image{
		margin: 0px 0px -15.01% 10.28%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.who-we-are__image img{
		width: 82.9%;
		height: 40.1%;
	}
	.menu__body{
		padding: 13px 30px;
	}
	.menu__icons :not(:last-child){
		margin-right: 18px;
	}
	.titles__title_ball::after{
		visibility: hidden;
	}
	.nemo__image {
		margin: 0px 45px 0px 0px;
	}
	.nemo__content{
		padding: 25px 0px 40px 0px;
}
@media (max-width: 991.98px){
	.who-we-are__text{
		margin: 0px 0px 200px 0px;
	}
	.menu__list {
		flex-wrap: wrap;
	}
	.menu__list {
		margin: 0px -5px;
	}
	.menu__item {
		padding: 0px 5px;
	}
	.menu__body{
		padding: 13px 20px;
	}
	.menu__icons :not(:last-child){
		margin-right: 14px;
	}
	.menu__list_margin-right{
		margin-right: 20px;
	}
	.nemo__container{
		margin-top: 130px;
	}
	.nemo__image {
		margin: 0px 25px 0px 0px;
	}
}
@media (max-width: 767.98px){
	.who-we-are__case::after{
		visibility: hidden;
	}
	.who-we-are__text{
		margin: 0px 0px 150px 0px;
	}
	.menu__list {
		margin: 0px -1px;
	}
	.menu__item {
		padding: 0px 1px;
	}
	.menu__body{
		padding: 8px 10px;
	}
	.menu__icons :not(:last-child){
		margin-right: 10px;
	}
	.menu__list_margin-right{
		margin-right: 40px;
	}
	.nemo__image {
		margin: 0px 10px 0px 0px;
	}
	.nemo__container{
		margin-top: 100px;
	}
	.nemo__image{
		visibility: hidden;
	}
	.nemo__content{
		align-self: center;
	}
}
}